body {
  font-family: 'Almarai', sans-serif;
  font-size: $base-font-size;
  line-height: 1.3;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  direction: $bDir;
  color: $black-color;
  text-align: #{$dir};

  //&.header-is-fixed {
  //  padding-top: 130px;
  //  @include media-breakpoint-down(lg) {
  //    padding-top: 71px;
  //  }
  //
  //  &.pages-header-fixed {
  //    padding-top: 108px;
  //    @include media-breakpoint-down(lg) {
  //      padding-top: 71px;
  //    }
  //  }
  //}
}

html[dir="rtl"] {
  body {
    font-family: 'Almarai', sans-serif;
  }
}

.container-content {
  width: 96%;
  @include media-breakpoint-down(xxl) {
    width: 95%;
  }
  margin-#{$dir}: auto;
  margin-#{$opDir}: auto;
  position: relative;
  //max-width: 1500px;
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-#{$dir}: 15px;
    padding-#{$opDir}: 15px;
  }
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.3s;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

.page-container {
  background-color: $page-bg-color;
  padding: 2%;
  @include media-breakpoint-down(xxl) {
    padding: 2%;
  }
  padding-top: 30px;
  padding-bottom: 30px;
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-#{$dir}: 10px;
    padding-#{$opDir}: 10px;
    padding-top: 10px;
  }
}

.main-container {
  width: 100%;
  background-color: $white-color;
  @extend %border-radius-lg;
}

.drop-title {
  color: $main-blue-color;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.p-text {
  font-size: 15px;
}

input.form-control {
  height: 42px;
}

.form-control {
  border-color: $light-gray-color;

  &:focus {
    box-shadow: none;
    border-color: $main-blue-color;
  }
}

.search-input {
  position: relative;

  input {
    padding-#{$dir}: 35px;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    #{$dir}: 0.65rem;
    height: 19px;
  }
}

.side-left-menu {
  background-color: $bg-blue-color;
  padding: 15px;
  @extend %border-radius-lg;

  .side-left-menu-list {
    li {
      ul {
        li {
          a {
            display: block;
            color: $gray-color;
            background-color: $white-color;
            width: 90%;
            margin: 10px auto;
            padding: 10px 20px;

            &:hover {
              color: $white-color;
            }
          }

          &.active {
            a {
              color: $white-color;
              background-color: $main-blue-color;
            }
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &.active-link {
        a {
          background-color: $main-blue-color;

          p {
            color: $white-color;
          }
        }
      }

      a {
        width: 100%;
        background-color: $bg-blue-color;
        border-radius: 100px;
        padding: 8px 10px;
        @include media-breakpoint-down(xxl) {
          padding: 6px 10px;
        }

        p {
          transition: all ease-in-out 0.3s;
          color: $black-color;
          margin-#{$dir}: 10px;
          text-transform: capitalize;
          transition: all ease-in-out 0.3s;
        }

        &:hover {
          background-color: $main-blue-color;

          p {
            color: $white-color;
            transform: translateX(5px);
          }
        }

        .side-menu-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 35px;
          height: 35px;
          @include media-breakpoint-down(xxl) {
            width: 27px;
            height: 27px;
          }
          transition: all ease-in-out 0.3s;
          background-color: $white-color;
          border-radius: 50%;

          svg {
            width: 100%;
            max-width: 19px;
            max-height: 17px;
            @include media-breakpoint-down(xxl) {
              max-width: 16px;
              max-height: 15px;
            }
          }
        }
      }
    }
  }
}

.font-size-m {
  font-size: 17px;
  font-weight: 300;
  font-family: Poppins, "sans-serif";
  @include media-breakpoint-down(xxl) {
    font-size: 16px;
  }
}

#homeMainSlider {
  margin-top: -74px;
  @include media-breakpoint-down(xxl) {
    margin-top: 0;
  }

  img {
    width: 100%;
    object-fit: cover;
    @extend %border-radius-lg;
    height: 435px;
    @include media-breakpoint-down(xxl) {
      height: 289px;
    }
    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }

  .carousel-indicators {
    #{$opDir}: auto;
    #{$dir}: 50%;
    transform: translateX(-50%);
    margin-#{$dir}: 0;
    margin-#{$opDir}: 0;
    padding: 5px;
    background-color: rgba($black-color, 0.3);
    border-radius: 50px;

    [data-bs-target] {
      border-bottom: 0;
      border-top: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      opacity: 1;

      &.active {
        background-color: $main-blue-color;
      }
    }
  }
}


.section-title {
  position: relative;

  &:before {
    position: absolute;
    display: block;
    content: '';
    height: 2px;
    width: calc(100% - 20px);
    #{$dir}: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    background-color: $bg-blue-color;
  }

  h3 {
    font-size: 16px;
    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
    font-family: Poppins, 'sans-serif';
    font-weight: 300;
    z-index: 1;
    position: relative;
    background-color: $white-color;
    display: inline-block;
    padding: 0 10px;
  }
}

.add-container {
  a {
    margin-bottom: 1rem;

    img {
      @extend %border-radius-lg;
      width: 100%;
    }
  }
}

//Store Card
.store-card {
  display: block;
  @extend %border-radius-lg;
  background-color: $bg-blue-color;
  padding: 15px;
  @include media-breakpoint-down(sm) {
    padding: 10px;
  }

  .open-status {
    color: $gray-color;
    font-size: 14px;

    .open-close-store {
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      margin-#{$opDir}: 3px;
      background-color: $green-color;
    }
  }

  &.close-store {
    .open-status {
      .open-close-store {
        background-color: $gray-color;
      }
    }
  }

  .verify-img {
    width: 20px;
  }

  .store-main-img {
    text-align: center;
    margin-top: 0.75rem;

    img {
      transition: all ease-in-out 0.4s;
      width: 155px;
      height: 155px;
      @include media-breakpoint-down(xxl) {
        width: 140px;
        height: 140px;
      }
      @include media-breakpoint-down(sm) {
        width: 100px;
        height: 100px;
      }
      border-radius: 50%;
      object-fit: cover;
    }
  }

  h4 {
    @extend %title-2;
    margin-top: 0.75rem;
    @include oneline();

  }

  p {
    color: $gray-color;
    font-size: 15px;
    @include oneline();

  }

  &:hover {
    .store-main-img {
      img {
        transform: scale(1.07) rotate(5deg);
      }
    }

    box-shadow: $box-shadow;
  }
}

.open-status {
  color: $gray-color;
  font-size: 14px;

  .open-close-store {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-#{$opDir}: 3px;
    background-color: $green-color;
  }
}

.close-status{
  color: $gray-color;
  font-size: 14px;

  .open-close-store {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-#{$opDir}: 3px;
    background-color: $gray-color;
  }
}

.big-open-status {
  .open-status, .close-status {
    color: $black-color;

    .open-close-store {
      width: 12px;
      height: 12px;
      @include media-breakpoint-down(sm) {
        font-size: 10px;
      }
    }
  }

}

//rating
.product-reviews-summary {
  .rating-summary {
    position: relative;

    .rating-result {
      width: 98px;
      position: relative;
      margin: 0 auto 10px auto;
      @include media-breakpoint-down(sm) {
        margin: 0 auto 5px auto;
      }
      font-family: 'Font Awesome 5 Pro';
      font-weight: 300;

      &::before {
        position: absolute;
        z-index: 1;
        text-align: #{$opDir};
        color: $gray-color;
        font-size: 16px;
        height: 16px;
        letter-spacing: 2px;
        line-height: 18px;
        content: '\f005' '\f005' '\f005' '\f005' '\f005';
        display: block;
        font-style: normal;
        font-weight: 900;
        speak: none;
      }

      span {
        display: block;
        overflow: hidden;
        font-family: 'Font Awesome 5 pro';

        &:before {
          position: relative;
          z-index: 2;
          text-align: #{$opDir};
          color: #FFCF5E;
          font-size: 16px;
          height: 17px;
          letter-spacing: 2px;
          line-height: 18px;
          content: '\f005' '\f005' '\f005' '\f005' '\f005';
          display: block;
          font-style: normal;
          font-weight: 900;
          speak: none;
        }
      }
    }
  }
}

.col-xxl-2-5 {
  @include media-breakpoint-up(xxl) {
    width: 20%;
  }
}

.may-tab {
  background-color: $white-color;
  position: relative;
  z-index: 2;
  display: inline-flex;

  button {
    background-color: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 16px;
    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
    font-family: Poppins, 'sans-serif';
    font-weight: 300;

    &.active {
      color: $main-blue-color;
    }
  }
}

.product-card {
  @extend %border-radius-lg;
  border: 2px solid $bg-blue-color;
  overflow: hidden;
  //@include media-breakpoint-down(sm) {
  //  max-width: 220px;
  //  margin: 0 auto;
  //}

  .top-product-part {
    position: relative;
  }

  .fave-btn {
    position: absolute;
    z-index: 2;
    top: 18px;
    #{$dir}: 15px;
    @include media-breakpoint-down(xxl) {
      top: 16px;
      #{$dir}: 12px;
    }

  }

  .product-card-img {
    width: 100%;
    height: 248px;
    @include media-breakpoint-down(xxl) {
      height: 213px;
    }
    @include media-breakpoint-down(xl) {
      height: 240px;
    }
    @include media-breakpoint-down(md) {
      height: 190px;
    }
    @include media-breakpoint-down(sm) {
      height: 310px;
    }
    object-fit: cover;
  }

  .bottom-product-part {
    background-color: $bg-blue-color;
    padding: 15px;
    @include media-breakpoint-down(xl) {
      padding: 12px;
    }
    @include media-breakpoint-down(md) {
      padding: 10px;
    }

    .product-card-name {
      display: block;
      margin-bottom: 5px;

      h4 {
        color: $black-color;
        @include oneline();
        font-size: 17px;
        @include media-breakpoint-down(xxl) {
          font-size: 16px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 15px;
        }
        transition: all ease-in-out 0.3s;
      }

      &:hover {
        h4 {
          color: $main-blue-color;
        }
      }
    }
  }
}

.new-price {
  color: $red-color;
  font-weight: 700;
  font-size: 17px;

  span {
    font-weight: 500;
    font-size: 12px;
    color: $black-color;
    font-family: Poppins, 'sans-serif';
  }

  &.big-new-price {
    font-size: 20px;

    span {
      font-size: 14px;
    }
  }
}

.old-price {
  text-decoration: line-through;
  text-decoration-color: $gray-color;
  color: $gray-color;
  font-size: 14px;
  font-weight: 700;
  text-align: center;

  span {
    font-size: 12px;
    font-weight: 500;
    font-family: Poppins, 'sans-serif';
  }
}

.fave-btn {
  padding: 0;
  background-color: transparent;
  border: 0;

  svg {
    height: 25px;
    @include media-breakpoint-down(xxl) {
      height: 22px;
    }

    path {
      transition: all ease-in-out 0.3s;
    }
  }

  &.active {
    svg {
      path {
        fill: $red;
      }
    }
  }
}

.product-store-name {
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-#{$opDir}: 5px;
    @include media-breakpoint-down(sm) {
      width: 30px;
      height: 30px;
    }
  }

  p {
    color: rgba(#263238, 0.5);
    @include oneline();
    transition: all ease-in-out 0.3s;
    font-size: 15px;
    @include media-breakpoint-down(xxl) {
      font-size: 14px;
    }
  }

  &:hover {
    p {
      transform: translateX(3px);
      color: $main-blue-color;
    }
  }
}

.serves-card {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  > .row {
    width: 100%;
    align-self: flex-end;
  }

  .product-store-name {
    margin-top: 10px;
  }

  background-color: $bg-blue-color;
  @extend %border-radius-lg;
  padding: 15px;
  @include media-breakpoint-down(xl) {
    padding: 12px;
  }
  @include media-breakpoint-down(md) {
    padding: 10px;
  }

  & > p {
    width: 100%;
    font-size: 17px;
    @include oneline1(3);
    @include media-breakpoint-down(xxl) {
      font-size: 15px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}

.new-store-card {
  position: relative;
  display: flex;
  background-color: $bg-blue-color;
  padding: 2rem 1rem;
  @extend %border-radius-lg;

  .d-flex {
    width: 100%;
    overflow: hidden;
  }

  img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    transition: all ease-in-out 0.4s;
  }

  h4 {
    color: $black-color;
    font-weight: 700;
    font-size: 17px;
    @include oneline();
  }

  p {
    color: $gray-color;
    @include oneline();
    transition: all ease-in-out 0.3s;
    font-size: 15px;
    @include media-breakpoint-down(xxl) {
      font-size: 14px;
    }
  }

  .new-span {
    position: absolute;
    top: 0;
    #{$opDir}: 0;
    border-bottom-#{$dir}-radius: var(--border-radius-lg);
    border-top-#{$opDir}-radius: var(--border-radius-lg);
    background-color: $main-blue-color;
    color: $white-color;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
  }

  &:hover {
    box-shadow: $box-shadow;

    img {
      transform: rotate(5deg);
    }
  }
}

.store-card-container {
  position: relative;
}

#feature_slider {

  width: 100%;
  height: calc(310px * 2 + 15px);
  @include media-breakpoint-down(xxl) {
    height: calc(293px * 2 + 15px);
  }
  @include media-breakpoint-down(sm) {
    height: calc(236px * 2 + 15px);
  }
  margin-#{$dir}: auto;
  margin-#{$opDir}: auto;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 15px) / 2);
    @extend %border-radius-lg;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    .store-card {
      width: 100%;

      &:hover {
        box-shadow: none !important;
      }
    }

    h3 {
      color: $main-blue-color;
      font-weight: 700;
      font-size: 25px;
      @include media-breakpoint-down(xxl) {
        font-size: 22px;
      }
    }

    p {
      color: $gray-color;
      font-family: Poppins, 'sans-serif';
      font-weight: 300;
      font-size: 14px;
      margin-top: 3px;
      @include media-breakpoint-down(xxl) {
        font-size: 13px;
      }
    }
  }
}

.statistics-container {
  margin-top: 1rem;
  @include media-breakpoint-up(lg) {
    height: calc(100% + 1rem);
    margin-top: 0;
  }

  .statistics-card {
    text-align: center;
    font-size: 18px;
    background: $bg-blue-color;
    //height: calc((100% - 10px) / 2);
    height: 100%;
    @extend %border-radius-lg;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 110px;

    h3 {
      color: $main-blue-color;
      font-weight: 700;
      font-size: 25px;
      @include media-breakpoint-down(xxl) {
        font-size: 22px;
      }
    }

    p {
      color: $gray-color;
      font-family: Poppins, 'sans-serif';
      font-weight: 300;
      font-size: 14px;
      margin-top: 3px;
      @include media-breakpoint-down(xxl) {
        font-size: 13px;
      }
    }
  }
}

.swiper-pagination {
  #{$opDir}: 0;
  padding: 0 10px;
  top: -38px;
  background-color: $white-color;
  @include media-breakpoint-down(md) {
    display: none;
  }

  .swiper-pagination-bullet {
    width: 25px;
    height: 4px;
    border-radius: 0;
    margin: 0 3px;
    background-color: $gray-color;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: $main-blue-color;
    }
  }
}

.store-filter-container {
  .store-filter-drop {
    @extend %border-radius-lg;
    border: 0;
    min-width: 60vw;
    padding: 1rem;
    box-shadow: $box-shadow;
    #{$dir}: 13px !important;
    @include media-breakpoint-down(xl) {
      transform: translate(0) !important;
      position: fixed !important;
      top: 0 !important;
      width: 100vw;
      height: 100vh;
      #{$dir}: 0 !important;
      #{$opDir}: 0 !important;
    }

    a {
      display: block;
      background-color: $bg-blue-color;
      text-align: center;
      padding: 10px;
      border-radius: 60px;
      color: $black-color;
      font-family: Poppins, "sans-serif";
      font-weight: 300;
      @include one-line();

      &:hover {
        background-color: $light-gray-color;
      }

      &.active {
        color: $white-color;
        background-color: $main-blue-color;
      }

    }
  }

  .close-store-filter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    #{$opDir}: 0;
    border: 0;
    background-color: transparent;

    svg {
      width: 30px;
    }
  }
}

.h-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  padding-#{$opDir}: 10px;
}

.h-scroll::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

.h-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.h-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $main-blue-color;
}

.filter-scroll {
  max-height: 450px;
  @include media-breakpoint-down(xl) {
    min-height: calc(100% - 30px);
  }
}

.pagination {
  justify-content: center;

  li {
    margin-bottom: 8px;

    .page-link {
      color: $black-color;
      border-radius: 6px !important;
      border-color: $bg-blue-color;
      font-family: Poppins, "sans-serif";
      font-weight: 300;
    }

    &:not(:last-child) {
      margin-#{$opDir}: 8px;
    }
  }

  .page-item.disabled .page-link {
    color: $gray-color;
  }

  .page-item.active .page-link {
    background-color: $main-blue-color;
  }
}

.dont-collapse-xl {
  @include media-breakpoint-up(xl) {
    display: block !important;
    height: auto !important;
    visibility: visible;
  }
}

.modal {
  .modal-content {
    @extend %border-radius-lg;
  }

  .btn-close {
    #{$opDir}: 15px;
    top: 15px;
    transition: all ease-in-out 0.3s;

    &:hover {
      color: $red-color;
      opacity: 1;
    }
  }

  .modal-header {
    border-bottom: 0;
  }

  .modal-footer {
    border-top: 0;
  }
}

.request-container {
  background-color: $bg-blue-color;
  display: block;
  @extend %border-radius-lg;
  padding: 20px;
  @include media-breakpoint-down(sm) {
    padding: 15px;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  h3 {
    @extend %title-3;
    color: $black-color;
  }

  p {
    @extend %text-2;
    color: $gray-color;
    @include oneline1(2);
  }

  &:hover {
    box-shadow: $box-shadow;
  }
}

.one-line {
  @include oneline();
}

#copy-container {
  position: absolute;
  top: 0;
  #{$dir}: -9999px;
  z-index: -10;
  opacity: 0;
}

.popover-body {
  padding: 5px 7px;
}

.mySwiper2 {
  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    @extend %border-radius-lg;
    @include media-breakpoint-up(xxl) {
      height: 450px;
    }
    @include media-breakpoint-down(sm) {
      height: 270px;
    }
  }
}

.mySwiper {
  img {
    transition: all ease-in-out 0.3s;
    opacity: 0.7;
    height: 80px;
    width: 100%;
    object-fit: cover;
    @extend %border-radius-lg;
    @include media-breakpoint-up(xxl) {
      height: 120px;
    }
    @include media-breakpoint-down(lg) {
      height: 100px;
    }
    @include media-breakpoint-down(sm) {
      height: 70px;
    }
  }

  .swiper-slide-thumb-active {
    img {
      opacity: 1;
    }
  }
}

.gray-color {
  color: $gray-color !important;
}
.main-blue-color{
  color: $main-blue-color !important;
}
.fw-500 {
  font-weight: 500 !important;
}

.list-style1 {
  li {
    @extend %text-2;
    padding-#{$dir}: 8px;
    position: relative;
    margin-bottom: 3px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 4px;
      height: 1px;
      background-color: $black-color;
      top: 10px;
      #{$dir}: 0;
    }
  }
}

// color select start

.product-color {
  padding: 0;
}

.product-color {
  list-style: none;
}

.product-color li {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0px 1px;
}

.product-color li input {
  position: absolute;
  #{$dir}: 0;
  top: -300%;
  opacity: 0;
  visibility: hidden;
}

.product-color li input:checked + label {
  border-color: #6CA1AD;
  opacity: 1;
}

.product-color li input:checked + label:after {
  content: "✔";
  opacity: 1;
}

.product-color li label {
  --color-check-size: 35px;
  width: var(--color-check-size);
  color: #fff;
  height: var(--color-check-size);
  line-height: var(--color-check-size);
  border-radius: var(--color-check-size);
  display: inline-block;
  position: relative;
  border: 0px solid #535151;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.product-color li label:after {
  content: "✖";
  position: absolute;
  #{$dir}: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(var(--color-check-size) / 2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  moz-transition: opacity 0.3s ease-in-out;
  o-transition: opacity 0.3s ease-in-out;
}

.product-size-list {
  li {
    input {
      position: absolute;
      #{$dir}: 0;
      top: -300%;
      opacity: 0;
      visibility: hidden;

      &:checked + label {
        border-color: $main-blue-color;
      }
    }

    label {
      padding: 7px 8px;
      border: 1px solid $bg-blue-color;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;
      width: 65px;
      transition: border-color 0.3s ease-in-out;
      margin-bottom: 0.5rem;
    }
  }
}

.big-title-icon {
  font-size: 37px;
  font-weight: 700;
  font-family: Poppins, "sans-serif";
  display: flex;
  align-items: center;
  @include media-breakpoint-down(xxl) {
    font-size: 30px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }

  svg {
    margin-#{$opDir}: 0.7rem;
    height: 1.2em;
    width: auto;
  }
}

.store-icon-name {
  img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    @include media-breakpoint-down(sm) {
      width: 40px;
      height: 40px;
    }

  }
}

.my-cart-container {
  margin-bottom: 0.75rem;
  background-color: $bg-blue-color;
  @extend %border-radius-lg;
  .drop-cart-price{
    font-weight: 700;
    span{
      font-weight: 400;
    }
  }
  .my-cart-header {
    padding: 1rem;
    padding-bottom: 0.5rem;
    @include media-breakpoint-down(sm) {
      padding: 0.75rem;
    }
  }

  .my-cart-content {
    padding: 1rem;
    @include media-breakpoint-down(sm) {
      padding: 0.75rem;
    }

    .my-cart-item {
      img {
        width: 60px;
        height: 60px;
        @extend %border-radius-lg;
        object-fit: cover;
      }

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
      .drop-cart-price{
        @extend %text-2;
        span{
          font-size: 0.8em;
        }
      }
    }

  }

  .my-cart-footer {
    padding: 1rem;
    border-top: 1px solid $border-color;
    @include media-breakpoint-down(sm) {
      padding: 0.75rem;
    }
  }
}

.delete-link {
  color: $gray-color;
  font-family: Poppins, "sans-serif";
  font-size: 16px;
  @include media-breakpoint-down(sm) {
    font-size: 13px;
  }

  &:hover {
    color: $red-color;
  }
}

.total-cart {
  font-size: 17px;
  vert-align: middle;
  font-weight: 600;
  font-family: Poppins, "sans-serif";
  @include media-breakpoint-down(sm) {
    font-size: 15px;
  }

  span {
    font-size: 22px;
    color: $red-color;
    font-family: 'Almarai', sans-serif;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }
}

.main-card {
  background-color: $bg-blue-color;
  padding: 1rem;
  @include media-breakpoint-down(sm) {
    padding: 0.75rem;
  }
  @extend %border-radius-lg;
}

.edit-profile-photo {
  position: relative;
  display: inline-block;

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $main-blue-color;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    #{$opDir}: 10px;
    border: 4px solid #fff;

    svg {
      width: 20px;
      height: auto;
    }
  }

  img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    cursor: pointer;
    object-fit: cover;
  }

  .change-photo-btn {
    overflow: hidden;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    #{$dir}: 0;
    top: 0;
    cursor: pointer;
  }

  .photoUpload {
    overflow: hidden;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  input {
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.company-hero {
  position: relative;
  transition: all ease-in-out 0.3s;

  > img {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    min-height: 210px;
    @extend %border-radius-lg;
  }

  .store-group-btn {
    position: absolute;
    bottom: 20px;
    #{$opDir}: 20px
  }
}

.store-group-btn {
  @include media-breakpoint-down(sm) {
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  a {
    display: inline-block;

    img {
      @include media-breakpoint-down(xxl) {
        height: 50px;
        width: auto;
      }
      @include media-breakpoint-down(sm) {
        height: 40px;
      }
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

.about-comp-card {
  background-color: $bg-blue-color;
  padding: 30px;
  text-align: center;

  p {
    color: $text-black;
  }

  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }
  @extend %border-radius-lg;
}

.comp-product {
  .row {
    .col:nth-child(5) {
      @include media-breakpoint-between(xl, xxl) {
        display: none;
      }
    }
  }
}

#album_slider {
  .swiper-slide {
    a {
      display: block;
      outline: none !important;
      overflow: hidden;
      > img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        @extend %border-radius-sm;
        transition: all ease-in-out 0.4s;
        @include media-breakpoint-down(sm){
          height: 130px;
        }
      }
      @extend %border-radius-sm;
      &:hover{
       img{
         transform: scale(1.1);
       }
      }
    }
  }
}

.carousel__slide.has-thumb.has-video .fancybox__thumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  bottom: 0;
  background-position: center center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56.049' height='56.049' viewBox='0 0 56.049 56.049'%3E%3Cpath id='Icon_ionic-ios-play-circle' data-name='Icon ionic-ios-play-circle' d='M30.9,3.375A27.524,27.524,0,1,0,58.424,30.9,27.52,27.52,0,0,0,30.9,3.375ZM41.989,31.416,23.833,42.4a.589.589,0,0,1-.887-.516V19.916a.586.586,0,0,1,.887-.516L41.989,30.383A.607.607,0,0,1,41.989,31.416Z' transform='translate(-2.875 -2.875)' fill='%230086bc' stroke='%23fff' stroke-width='1'/%3E%3C/svg%3E%0A");
}
.fancybox__thumbs .carousel__slide .fancybox__thumb::after{
  border: 3px solid $main-blue-color;
}
.g-video{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    bottom: 0;
    z-index: 5;
    background-position: center center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56.049' height='56.049' viewBox='0 0 56.049 56.049'%3E%3Cpath id='Icon_ionic-ios-play-circle' data-name='Icon ionic-ios-play-circle' d='M30.9,3.375A27.524,27.524,0,1,0,58.424,30.9,27.52,27.52,0,0,0,30.9,3.375ZM41.989,31.416,23.833,42.4a.589.589,0,0,1-.887-.516V19.916a.586.586,0,0,1,.887-.516L41.989,30.383A.607.607,0,0,1,41.989,31.416Z' transform='translate(-2.875 -2.875)' fill='%230086bc' stroke='%23fff' stroke-width='1'/%3E%3C/svg%3E%0A");
    @include media-breakpoint-down(sm){
      background-size: 40px 40px;
    }
  }
}
.album-slider-container{
  padding: 1rem;
  background-color: $bg-blue-color;
  @extend %border-radius-lg;
  @include media-breakpoint-down(sm){
    padding: 0.75rem;
  }
}
#copm_location_map{
  height: 300px;
  width: 100%;
  @extend %border-radius-lg;
}
.map-label{
  @extend %title-2;
  transform: translateY(30px);
}
.comp-map-card{
  @extend %border-radius-lg;
  background-color: $bg-blue-color;
  min-height: calc(100% - 60px);
  display: flex;
  align-items: center;
}
.working-box{
  min-height: calc(100% - 60px);
  display: flex;
  align-items: center;
  table{
    tr{
      td{
        @extend %text-2;
        &:first-child{
          font-weight: 700;
        }
        &:last-child{
          text-align: #{$opDir};
          font-weight: 500;
        }
      }
    }
  }
}
.comment-container{
  .link{
    margin-left: 50px;
    margin-bottom: 0.5rem;
    display: block;
  }
  .comment-item{
    &:not(:last-child){
      margin-bottom: 0.75rem;
    }
    .comment-user-img{
      img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        @include media-breakpoint-down(sm){
          width: 40px;
          height: 40px;
        }
      }
    }
    .comment-item-title-desc{
      h4{
        span{
          font-size: 12px;
          color: $gray-color;
          font-weight: 400;
        }
      }
      p{
        @include oneline1(2)
      }
    }
  }
}
.link{
  color: $main-blue-color;
  &hover{
    color: darken($main-blue-color,30%);
  }
}
.gray-link{
  color: $gray-color;
  &hover{
    color: $main-blue-color;
  }
}
.comp-contact-info{
  a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    color: $black-color;
    &:hover{
      color: $main-blue-color;
    }
    img{
      margin-#{$opDir}:8px ;
      max-height: 28px;
      max-width: 21px;
    }
  }
}
.comp-contact-info-container{
  .footer-social-list a{
    background-color: #fff;
    &:hover{
      border-color: $main-blue-color;
    }
  }
}
.address-container{
  .address-card{
    &:not(:last-child){
      margin-bottom: 1rem;
    }
  }
}
.iti{
  width: 100%;
}
.iti__country-list{
  margin: 2px 0 0 -1px;
  overflow-x: hidden;
}
.iti__arrow{
  display: none;
}
.iti__country-list::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.iti__country-list::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.iti__country-list::-webkit-scrollbar-thumb {
  background-color: $main-blue-color;
  height: 50px;
  border-radius: 5px;
}
.order-card{
  display: block;
  padding: 0.7rem;
  background-color: $bg-blue-color;
  @extend %border-radius-lg;
  img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    @include media-breakpoint-up(xxl){
      width: 70px;
      height: 70px;
    }
  }
  span{
    text-align: center;
  }
  span.big-text{
    color: $black-color;
    display: block;
    text-align: center;
    small{
      font-size: 0.7em;
    }
  }
  span.order-info-title{
    font-size: 13px;
    color: $gray-color;
    display: block;
    text-align: center;
  }
  &:hover{
    box-shadow: $box-shadow;
  }
  .order-img-container{
    display: inline-block;
    position: relative;
  }
}
.accepted-order{
  .order-card{
    .order-img-container{
      &:before{
        content: "";
        position: absolute;
        top: 0;
        #{$opDir}: 0;
        display: block;
        width: 20px;
        height: 20px;
        @include media-breakpoint-up(xxl){
          width: 25px;
          height: 25px;
        }
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 27 27'%3E%3Cg id='Group_1442' data-name='Group 1442' transform='translate(-75.582 -138.5)'%3E%3Ccircle id='Ellipse_154' data-name='Ellipse 154' cx='13.5' cy='13.5' r='13.5' transform='translate(75.582 138.5)' fill='%230086bc'/%3E%3Cpath id='Icon_material-done' data-name='Icon material-done' d='M8.2,18.57,7.933,18.3,3.25,13.615l-.271-.271.271-.271L4.421,11.9l.271-.271.271.271L8.2,15.144,16.8,6.55l.271-.271.271.271,1.171,1.171.271.271-.271.271L8.475,18.3Z' transform='translate(77.848 139.93)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }

  }
}
.od-qty{
  background-color: $white-color;
  width: 60px;
  text-align: center;
  padding: 5px;
  border-radius: 60px;
  p{
      @extend %text-2;
  }
}
.packages-card{
  .nav-pills{
    button{
      background-color: $white-color ;
      color: $gray-color;
      border-color: $white-color;
      &.active{
        background-color: $main-blue-color;
        color: $white-color;
      }
      &:hover{
        border-color: $main-blue-color;
      }
    }
  }
}
.package-price{
  font-size: 35px;
  @include media-breakpoint-down(md){
    font-size: 25px;
  }
  color: $red-color;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  span{
    color: $black-color;
    font-size: 0.7em;
    font-weight: 500;
  }
}
.package-list{
  li{
    position: relative;
    padding-left: 25px;
    color: $gray-color;
    @extend %text-2;
    &:not(:last-child){
      margin-bottom: 15px;
    }
    &:before{
      position: absolute;
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 27 27'%3E%3Cg id='Group_1442' data-name='Group 1442' transform='translate(-75.582 -138.5)'%3E%3Ccircle id='Ellipse_154' data-name='Ellipse 154' cx='13.5' cy='13.5' r='13.5' transform='translate(75.582 138.5)' fill='%230086bc'/%3E%3Cpath id='Icon_material-done' data-name='Icon material-done' d='M8.2,18.57,7.933,18.3,3.25,13.615l-.271-.271.271-.271L4.421,11.9l.271-.271.271.271L8.2,15.144,16.8,6.55l.271-.271.271.271,1.171,1.171.271.271-.271.271L8.475,18.3Z' transform='translate(77.848 139.93)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
      width: 20px;
      height: 20px;
      #{$dir}:0;
      top: -1px;
      background-size: contain;
    }
  }
}
.order-confirm-details{
  .row{
    &:not(:last-child){
      border-bottom: 2px solid $border-color;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  p.text-2{
    small{
      font-size: 0.8em;
    }
  }
}
.coupon-input{
  position: relative;
  svg.coupon-check{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 9px;
    width: 18px;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
  }
  input{
    padding-right: 30px;
  }
  &.coupon-success{
    svg.coupon-check{
      opacity: 1;
      visibility: visible;
    }
  }
}
.address-check{
  small{
    font-size: 0.8em;
    color: $gray-color;
  }
  .form-check:not(:last-child){
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $border-color;
  }
  label{
    img{
      max-height: 30px;
      max-width: 75px;
    }
  }
}
.map-filter-list{
  .map-filter-link{
    display: block;
    color: $black-color;
    text-align: center;
    img{
      height: 70px;
      width: auto;
    }
    span{
      display: block;

    }
    &:hover{
      color: $main-blue-color;
    }
  }
}
#map{
  width: 100%;
  height: calc(100% - 1rem);
  @extend %border-radius-lg;
  @include media-breakpoint-down(xl){
    min-height: 500px;
    margin-bottom: 1rem;
  }
}
#myLocation {
  margin: 10px;
  height: 40px;
  width: 40px;
  background: none rgb(255, 255, 255);
  border: 0;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  font-size: 27px;
  color: #666;
}
#searchURL{
  display: none;
  max-height: 200px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  width: calc(100% - 45px);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba($white-color , 0.9);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 1rem;
  li{
    a{
      color: $black-color;
      padding: 5px 0;
      display: inline-block;
      @extend %text-2;
      &:hover{
        color: $main-blue-color;
      }
    }
  }
}
.infoBox{
  width: 280px;
  animation: fadeIn 0.9s;
  background-color: $white-color;
  box-shadow: $box-shadow;
  @extend %border-radius-lg;
  padding: 1rem;
  &>img{
    transition: all ease-in-out 0.3s;
    &:hover{
      opacity: 0.8;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.test-status{
  &.not-valid{
    display: none;
  }
}
.map-store-info{
  .store-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
}
