body {
  font-family: 'Almarai', sans-serif;
  font-size: $base-font-size;
  line-height: 1.3;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  direction: $bDir;
  color: $black-color;
  text-align: #{$dir};

  //&.header-is-fixed {
  //  padding-top: 130px;
  //  @include media-breakpoint-down(lg) {
  //    padding-top: 71px;
  //  }
  //
  //  &.pages-header-fixed {
  //    padding-top: 108px;
  //    @include media-breakpoint-down(lg) {
  //      padding-top: 71px;
  //    }
  //  }
  //}
}

html[dir="rtl"] {
  body {
    font-family: 'Almarai', sans-serif;
  }
}

.container-content {
  width: 91%;
  @include media-breakpoint-down(xxl) {
    width: 95%;
  }
  margin-left: auto;
  margin-right: auto;
  position: relative;
  //max-width: 1500px;
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.3s;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

.page-container {
  background-color: $page-bg-color;
  padding: 4%;
  @include media-breakpoint-down(xxl) {
    padding: 2%;
  }
  padding-top: 30px;

  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
}

.main-container {
  width: 100%;
  background-color: $white-color;
  @extend %border-radius-lg;
}

.drop-title {
  color: $main-blue-color;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.p-text {
  font-size: 15px;
}

input.form-control {
  height: 42px;
}

.form-control {
  border-color: $light-gray-color;

  &:focus {
    box-shadow: none;
    border-color: $main-blue-color;
  }
}

.search-input {
  position: relative;

  input {
    padding-left: 35px;
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    #{$dir}: 0.65rem;
    height: 19px;
  }
}

.side-left-menu {
  background-color: $bg-blue-color;
  padding: 15px;
  @extend %border-radius-lg;

  .side-left-menu-list {
    li {
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &.active-link {
        a {
          background-color: $main-blue-color;

          p {
            color: $white-color;
          }
        }
      }

      a {
        width: 100%;
        background-color: $bg-blue-color;
        border-radius: 100px;
        padding: 8px 10px;
        @include media-breakpoint-down(xxl) {
          padding: 6px 10px;
        }

        p {
          transition: all ease-in-out 0.3s;
          color: $black-color;
          margin-#{$dir}: 10px;
          text-transform: capitalize;
          transition: all ease-in-out 0.3s;
        }

        &:hover {
          background-color: $main-blue-color;

          p {
            color: $white-color;
            transform: translateX(5px);
          }
        }

        .side-menu-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 35px;
          height: 35px;
          @include media-breakpoint-down(xxl) {
            width: 27px;
            height: 27px;
          }
          transition: all ease-in-out 0.3s;
          background-color: $white-color;
          border-radius: 50%;

          svg {
            width: 100%;
            max-width: 19px;
            max-height: 17px;
            @include media-breakpoint-down(xxl) {
              max-width: 16px;
              max-height: 15px;
            }
          }
        }
      }
    }
  }
}

.font-size-m {
  font-size: 17px;
  font-weight: 300;
  font-family: Poppins, "sans-serif";
  @include media-breakpoint-down(xxl) {
    font-size: 16px;
  }
}

#homeMainSlider {
  margin-top: -74px;
  @include media-breakpoint-down(xxl) {
    margin-top: 0;
  }

  img {
    width: 100%;
    object-fit: cover;
    @extend %border-radius-lg;
    height: 435px;
    @include media-breakpoint-down(xxl) {
      height: 289px;
    }
    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }

  .carousel-indicators {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    background-color: rgba($black-color, 0.3);
    border-radius: 50px;

    [data-bs-target] {
      border-bottom: 0;
      border-top: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      opacity: 1;

      &.active {
        background-color: $main-blue-color;
      }
    }
  }
}

#statistics_slider {

  width: 100%;
  height: 361px;
  @include media-breakpoint-down(xxl) {
    height: 289px;
  }
  margin-left: auto;
  margin-right: auto;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $bg-blue-color;
    height: calc((100% - 10px) / 2);
    @extend %border-radius-lg;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    h3 {
      color: $main-blue-color;
      font-weight: 700;
      font-size: 25px;
      @include media-breakpoint-down(xxl) {
        font-size: 22px;
      }
    }

    p {
      color: $gray-color;
      font-family: Poppins, 'sans-serif';
      font-weight: 300;
      font-size: 14px;
      margin-top: 3px;
      @include media-breakpoint-down(xxl) {
        font-size: 13px;
      }
    }
  }
}
.statistics_slider-pagination {
  right: 0;
  padding: 0 10px;
  bottom: -40px;
  background-color: $white-color;
  .swiper-pagination-bullet{
    width: 25px;
    height: 4px;
    border-radius: 0;
    margin: 0 3px;
    background-color: $gray-color;
    opacity: 1;
    &.swiper-pagination-bullet-active{
      background-color: $main-blue-color;
    }

  }
}
.section-title {
  position: relative;

  &:before {
    position: absolute;
    display: block;
    content: '';
    height: 2px;
    width: calc(100% - 20px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    background-color: $bg-blue-color;
  }

  h3 {
    font-size: 16px;
    font-family: Poppins, 'sans-serif';
    font-weight: 300;
    z-index: 1;
    position: relative;
    background-color: $white-color;
    display: inline-block;
    padding: 0 10px;
  }
}

.add-container {
  a {
    margin-bottom: 1rem;

    img {
      @extend %border-radius-lg;
      width: 100%;
    }
  }
}
//Store Card
.store-card{
  display: block;
  @extend %border-radius-lg;
  background-color: $bg-blue-color;
  padding: 15px;
  .open-status{
    color: $gray-color;
    font-size: 14px;
    .open-close-store{
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-#{$opDir}:3px ;
      background-color: $green-color;
    }
  }
  &.close-store{
    .open-status{
      .open-close-store{
        background-color: $gray-color;
      }
    }
  }
  .verify-img{
    width: 20px;
  }
  .store-main-img{
    text-align: center;
    margin-top: 0.75rem;
    img{
      transition: all ease-in-out 0.4s;
      width: 155px;
      height: 155px;
      @include media-breakpoint-down(xxl){
        width: 140px;
        height: 140px;
      }
      @include media-breakpoint-down(sm){
        width: 100px;
        height: 100px;
      }
      border-radius: 50%;
      object-fit: cover;
    }
  }
  h4{
    font-size: 20px;
    font-weight: 700;
    color: $black-color;
    margin-top: 0.75rem;
    @include oneline();
  }
  p{
    color: $gray-color;
    font-size: 15px;
    @include oneline();

  }
  &:hover{
    .store-main-img{
      img{
        transform: scale(1.07) rotate(5deg);
      }
    }
    box-shadow: $box-shadow;
  }
}

//rating
.product-reviews-summary {
  .rating-summary {
    position: relative;

    .rating-result {
      width: 98px;
      position: relative;
      margin: 0 auto 10px auto;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 300;

      &::before {
        position: absolute;
        z-index: 1;
        text-align: right;
        color: $gray-color;
        font-size: 16px;
        height: 16px;
        letter-spacing: 2px;
        line-height: 18px;
        content: '\f005' '\f005' '\f005' '\f005' '\f005';
        display: block;
        font-style: normal;
        font-weight: 900;
        speak: none;
      }

      span {
        display: block;
        overflow: hidden;
        font-family: 'Font Awesome 5 pro';

        &:before {
          position: relative;
          z-index: 2;
          text-align: right;
          color: #FFCF5E;
          font-size: 16px;
          height: 17px;
          letter-spacing: 2px;
          line-height: 18px;
          content: '\f005' '\f005' '\f005' '\f005' '\f005';
          display: block;
          font-style: normal;
          font-weight: 900;
          speak: none;
        }
      }
    }
  }
}
.col-xxl-2-5{
  @include media-breakpoint-up(xxl){
    width: 20%;
  }
}
.may-tab{
  background-color: $white-color;
  position: relative;
  z-index: 2;
  display: inline-flex;
  button{
    background-color: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 16px;
    font-family: Poppins, 'sans-serif';
    font-weight: 300;
    &.active{
      color: $main-blue-color;
    }
  }
}