$white-color: #fff;
$black-color: #000000;
$main-blue-color:#0086BC;
$bg-blue-color:#F8FBFF;
$red-color:#F10404;
$gray-color:#748E9C;
$page-bg-color:#E7EEF5;

$box-shadow: 3px 3px 20px rgba(107, 107, 107, 0.34);
$border-radius: 8px;
$border-radius-lg: 16px;