$white-color: #fff;
$black-color: #000000;
$main-blue-color:#0086BC;
$bg-blue-color:#F8FBFF;
$red-color:#F10404;
$light-gray-color:#EFF2F6;
$gray-color:#748E9C;
$page-bg-color:#E7EEF5;
$green-color:#2DBF4F;
$box-shadow: 3px 3px 20px rgba(107, 107, 107, 0.34);
$border-radius: 8px;
:root{
  --border-radius-lg: 16px;
  @include media-breakpoint-down(md) {
    --border-radius-lg: 12px;
  }
  @include media-breakpoint-down(sm) {
    --border-radius-lg: 10px;
  }
}