%my-btn{
  display: inline-block;
  vertical-align: middle;
  background-color: $main-blue-color;
  border: 1px solid $main-blue-color;
  color: $white;
  padding: 8px 40px;
  transition: all ease-in-out 0.3s;
  border-radius: 8px;
  @include media-breakpoint-down(md) {
    border-radius: 6px;
  }
  @include media-breakpoint-down(sm){
    padding: 6px 25px;
    border-radius: 4px;
  }
  &:hover{
    background-color: transparent;
    color: $main-blue-color;
  }
}

.main-btn{
  @extend %my-btn;
}
.del-btn{
  @extend %my-btn;
  background-color: $white-color;
  color: $gray-color;
  border-color: $white-color;
  &.icon-btn{
    svg{
      height: 1.2em;
      margin-#{$opDir}:3px ;
    }
  }
  &:hover{
    color: white;
    background-color: $red-color;
    border-color: $red-color;
    svg{
      path{
        fill: $white-color;
      }
    }
  }
}
.light-blue-btn{
  @extend %my-btn;
  background-color: $bg-blue-color;
  color: $black-color;
  border-color: $bg-blue-color;
  &:hover{
    background-color: $main-blue-color;
    color: $bg-blue-color;
    svg{
      path{
        fill: $bg-blue-color;
      }
    }
  }
}
.icon-btn{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  svg{
    height: 25px;
    width: auto;
    @include media-breakpoint-down(sm){
      height: 20px;
    }
    path{
      transition: all ease-in-out 0.3s;
    }
  }
}
.store-filter-btn{
  @extend %border-radius-lg;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 0;
  background-color: $bg-blue-color;
  flex-wrap: nowrap;
  padding: 20px 30px;
  font-size: 20px;
  font-family: Poppins, "sans-serif";
  font-weight: 300;
  span{
    @include one-line();
    padding-#{$opDir}: 5px;
  }
  svg{
    height: 18px;
    width: auto;
    transition: all ease-in-out 0.3s;
  }
  &:after{
    display: none !important;
  }
  &:hover{
    svg{
      transform: translateX(3px);
    }
  }
  @include media-breakpoint-down(sm){
    font-size: 16px;
    padding: 15px 20px;
    svg{
      height: 14px;
    }
  }
}
.filter-btn{
  position: relative;
  svg{
    margin-top: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 22px;
    rect{
      fill: $white-color;
      transition: all ease-in-out 0.3s;
      height: 25px;
    }
  }
  &:hover{
    svg rect{
      fill: $main-blue-color;
    }
  }
}
.share-btn{
  padding: 0;
  border: 0;
  background-color: transparent;
  svg{
    height: 27px;
  }
}
.sent-comment-btn{
  @extend %my-btn;
  padding: 15px;
  height: calc(100% - 0.25rem - 2px);
  display: flex;
  align-items: center;
  &:hover{
    svg{
      path{
        fill: $main-blue-color;
      }
    }
  }
}
