%form-style{
  border-radius: 10px;
  border-color: $page-bg-color;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  height: auto;
  @include media-breakpoint-down(sm){
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
  &:focus{
    border-color: $main-blue-color;
    box-shadow: none;
  }
  &.parsley-error{
    border-color: $red-color;
  }
}
.form{
  .form-select{
    @extend %form-style;
  }
  .form-control{
    @extend %form-style;
  }
  textarea.form-control{
    @extend %form-style;
    resize: none;
  }
}
